@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "UserL";
}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="text-left">
    <h2>User List</h2>
    <hr />
</div>

<div class="text-danger" asp-validation-summary="ModelOnly"></div>

<table class="table table-bordered table-striped m-1 p-1">
    <tr>
        <th>User ID</th>
        <th>User Name</th>
        <th>User Email</th>
        <th></th>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4" class="text-center">
                NO USERS
            </td>
        </tr>
    }
    else
    {
        foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <form asp-route-id="@user.Id" asp-action="Delete" method="post">
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                        <a asp-action="Update" asp-route-id="@user.Id" class="btn btn-outline-primary">Edit</a>
                    </form>
                </td>
                
            </tr>
        }
    }
</table>

<a asp-action="Page" class="btn btn-danger"> Cancel</a>